<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccountKitClientToken</key>
	<string>f914729aa7a8774867ff141e81989aa2</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Ciaoz</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.854454072010-e1cqr9icp8sg4h9lrs14dietjlgv7r8a</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb540737373100630</string>
				<string>ak540737373100630</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>FacebookAppID</key>
	<string>540737373100630</string>
	<key>FacebookDisplayName</key>
	<string>Ciaoz</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_DISPLAY_NAME) would like to access camera for profile Image </string>
	<key>NSContactsUsageDescription</key>
	<string>Allow us to read contacts to find your friends</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>$(PRODUCT_DISPLAY_NAME) would like to access your location to get perfect driver around you.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>$(PRODUCT_DISPLAY_NAME) would like to access your location to get perfect driver around you.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(PRODUCT_DISPLAY_NAME) would like to access your location to get perfect driver around you.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_DISPLAY_NAME) would like to access microphone.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$(PRODUCT_DISPLAY_NAME) would like to access library to save the Image</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_DISPLAY_NAME) would like to access gallery for profile Image </string>
	<key>NSSiriUsageDescription</key>
	<string>$(PRODUCT_DISPLAY_NAME) would like to access siri for voice booking.</string>
	<key>UIAppFonts</key>
	<array>
		<string>clanpro_book.otf</string>
		<string>clanpro_medium.otf</string>
		<string>clanpro_narrnews.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch</string>
	<key>UIMainStoryboardFile</key>
	<string>User</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
